* {
    box-sizing: border-box
}

/* Add padding to containers */
.container {
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
}

    .container p {
        font-family: 'Rubik', sans-serif;
    }

/* Full-width input fields */
input[type=text], input[type=password], input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
        background-color: #ddd;
        outline: none;
    }

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #1E90FF;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    .registerbtn:hover {
        opacity: 1;
    }

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.simple-dimple1 {
    height: 100px;
}

.table_web_poisk {
    margin-left: 20%;
}

.cell_poisk {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}

.tr_web_poisk td {
    border: 1px solid white;
    background: #f7fafc;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.simple-dimple2 {
    height: 450px;
}

.img_poisk {
    margin-top: 1%;
    margin-left: 7%;
}

.btn {
    background-color: white;
    border: 1px solid #0052eb;
    font-family: 'Rubik', sans-serif;
    width: 4vw;
    height: 3vh;
}

    .btn:hover {
        transition: 0.3s;
        background-color: #0052eb;
    }
