@page
@model CryptoWallet.Pages.changerModel
@{
}
<h1>Изменение криптовалюты</h1>
<div class="container "id="wrapper">
    <form id="changeCr" method="post" autocomplete="off">
        <input type="text" id="numbercr" name="changerName" placeholder="Название валюты" />
        <input type="number" id="numbercr" name="changerNewNumber" placeholder="Введите новое количество" />
        <input type="number" id="sumcr" name="changerNewPrice" placeholder="Введите новую цену покупки" />
        <button type="submit" class="td_button">Изменить</button>
    </form>
</div>