@page
@model CryptoWallet.Pages.ContactsModel
@{
}
<div class="content_f">
    <h1>Контакты</h1>
    <span>Меня зовут Никита Панков, я создатель данной онлайн-платформы. Подробнее о нашей платформе можно узнать в нашей группе <a href="https://vk.com/club220985109">Вконтакте</a></span>
    <br />
    <br />
    <p>
        <span>Контакты</span>
        <br />
        <br />
        <span> Telegram - <a href="https://t.me/Iwannafeelsomuch">Nikita Pankov</a></span> 
        <br />
        <span>Почта - <a href="mailto:pankov1998.nikita@yandex.ru">pankov1998.nikita@yandex.ru</a></span>
        <br />
        <span>Вконтакте - <a href="https://vk.com/iwannafeelsomuch">VK</a></span>
    </p>
</div>