@page
@model CryptoWallet.Pages.FAQModel
@{
}
<div class="content_f">
    <h1>Ответы на часто задаваемые вопросы</h1>
    <h2>Чем занимается ваша онлайн-платформа?</h2>
    <p>Наша онлайн-платформа занимается помощью крипто инвесторам, она помогает объединить информацию об имеющихся криптовалютах и вести учёт в единой онлайн-платформе.</p>
    <br />
    <h2>Что делать, если неудобно пользоваться онлайн-платформой?</h2>
    <p>Если Вам неудобно пользоваться онлайн-платформой, Вы всегда можете скачать и установить себе нашу desktop-версию.</p>
    <br />
    <h2>Как начать пользоваться вашей онлайн-платформой?</h2>
    <p>Для того, чтобы начать пользоваться нашей онлайн-платформой, Вам необходимо пройти авторизацию или регистрацию, если вы в первый раз на нашей платформе. Далее вам открывается возможность управления собственным кошельком.</p>
    <br />
    <h2>Как добавлять криптовалюту в кошелек?</h2>
    <p>Для того, чтобы добавить криптовалюту в кошелек, Вам необходимо авторизоваться на онлайн-платформе, далее перейтив раздел "Кошелек" и нажать на кнопку добавить криптовалюту, там заполнить короткую форму о вашей криптовалюте и нажать кнопку "Добавить".</p>
    <br />
</div>