@page
@model IndexModel
@{
    ViewData["Title"] = "CryptoWallet";
}
<section>
    <div class="content">
        <div class="online">

            <div class="online-left">
                <h1>Держите свой портфель криптовалют под контролем вместе с нами!</h1>
                <p>Наша онлайн-платформа - это удобный и безопасный способ отслеживать и управлять своим портфелем криптовалют. Мы предоставляем полную информацию о ваших активах, с удобным визуальным интерфейсом и возможностью вести дневник торговых операций. Ваш портфель всегда под контролем.</p>
            </div>
            <div class="online-right">

                <img src="./content/online-right.jpg" alt="">

            </div>
        </div>
    </div>
</section>